* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #D9CDF7;
  font-family: 'Lato', sans-serif;
  color: #271A45;
  height: 100vh;
  display: grid;
  place-content: center;
}

.wrapper {
  background-color: #D9CDF7;
  display: flex;
  align-items: center;
  gap: 63px;

}

#product-image {
  position: relative;
}

#product-image button {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
}

#product-image > img {
  width: 449px;
  height: 222px;
  object-fit: cover;
}

.info-produto {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-right: 132px;
}

.info-produto button {
  background-color: transparent;
  margin-top: 8px;
  font-size: 12px;
  font-weight: 400;
  border: solid 1px #271A45;
  padding: 8px 16px;
  width: fit-content;
  border-radius: 999px;
}

h1 {
  font-family: 'Crimson Pro', serif;
  font-weight: 600;
}

h4 {
  font-weight: 300;
  font-size: 10px;
}

p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.67;
}

@media (max-width: 750px) {
  .wrapper {
    flex-direction: column;
  }

  .info-produto {
    margin-right: 32px;
  }
}